
#mainCircle{
    width: 5rem;
    height: 5rem;
    background-color: yellow;
    border-radius: 150px;

     display: flex;
     justify-content: flex-start; 
     align-items: center;
  
     box-shadow: 1px 0px 10px #e7d729;

}

.innerCircles{
    width: 80%;
    height: 80%;
    border-radius: 145px 150px 150px  145px;

    display: flex;
    justify-content: flex-start; 
    align-items: center;

}

#progressCustom{
    padding-bottom: 10px;
}
