.page{
  height: 100vh;
  width: 100vw;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  color: rgb(0, 0, 0);
  background-color: #151515;
}


.weatherData{
  height: 350px;
  min-width: 300px;
  max-width: 400px;
  
  background-color: #f5f5f5;
  color: black;
  
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  
  display: flex;
  flex-direction: column;
  padding: 5px 5px 15px 5px;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  
  user-select: none;

}

.head{
  width: 95%;

  display: flex;
  flex-direction: row;
  align-items:flex-start;
  justify-content: space-between;
  
  font-size: 40px;
  font-weight: bold;
}


.address{
    display:flex;
    flex-direction: column;
}

.AddressWOCity{
  font-size: 13px;
  color: #bdbdbd;
  padding-left: 2px;
}

.middle{
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.temp{
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight:900;
}

#time{
    font-size: 13px;
    font-weight:700;
    color: #bdbdbd;
    display: flex;
    justify-content: center;
}



.text{
  color: green;
}


.bottom{
  min-width: 250px;
  max-width: 350px;

    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* font-weight: bold; */
    font-size: 10px;
    color: #bdbdbd;
    z-index: 2;
}


.outer{
  background-color: white;
  min-width: 225px;
  max-width: 30px;
  height: 50px;
  border-radius: 100px;
  display: flex;
  justify-content:center;
  align-items:flex-end;
}

.inner{
  background-color: black;
  min-width: 230px;
  max-width: 30px;
  height: 47px;
  border-radius: 100px;
}

.bar{
width: 100px;
border-radius: 10px;
}


.css-eglki6-MuiLinearProgress-root {
   background-color: white;
}



#alert{
  font-size: 10px;
  color: #bdbdbd;
}


.rows{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon2{
  height: auto;
  max-width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.inputArea{

  min-width: 300px;
  max-width: 400px;

  justify-content: center;
/* 
  border-radius: 15px;
  border-style: solid;
  border-width: 1px; */
  
  display: flex;
  flex-direction: row;
  /* padding: 5px 5px 15px 5px; */
  align-content: space-between;
  justify-content: space-between;
  align-items: center;

  padding-top: 10px;
}


#inputTextfield{
  height: 30px;
  width: 273px;

  border: none;
  border-radius: 3px;

  background-color: #000000;
  color: #ffffff;
  font-weight: 700;

  padding-left: 10px;
}

#inputTextfield:focus{
  outline: none;
  
}

#inputTextfield::placeholder{
  font-weight: 500;
  color: #bfbfbf;
}

#inputTextfield:focus::placeholder {
  color: transparent;
}

#locationDiv{
  height: 30px;
  width: 25px;

  border: none;
  border-radius: 3px;

  background-color: #000000;
  color: #ffffff;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;
}


.visualSeperator{
  height: 1px;
  width: 95%;
  background-color: rgb(232, 232, 232);
}