.page{
  height: 100vh;
  width: 100vw;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  color: rgb(0, 0, 0);
  background-color: #151515;
}


#weatherPanel{
  height: 450px;
  min-width: 300px;
  max-width: 350px;
  
  background-color: #000000;

  background-image: linear-gradient(to top, rgb(0, 0, 0) 40%, #151515 100%);


  color: rgb(255, 255, 255);
  
  border-radius: 15px;
  border-style: none;
  border-width: 1px;
  
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  
  user-select: none;

}

/* ////////////////////////////////////////////////////////////  */

#head{
  width: 95%;

  display: flex;
  flex-direction: row;
  align-items:flex-start;
  justify-content: space-between;
  
  font-size:2.2vw;
  font-weight: bold;
}

#address{
    display:flex;
    flex-direction: column;
}

#addressWOCity{
  font-size: 13px;
  color: #bdbdbd;
  padding-left: 2px;
}

#weatherImage{
  max-width: 64px;
}


/* ////////////////////////////////////////////////////////////  */


#temp{
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight:900;
}

/* ////////////////////////////////////////////////////////////  */


#sTs{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  min-width: 300px;
  max-width: 350px;

    font-size: 10px;
    color: #bdbdbd;
    z-index: 2;
}

.sTscolumn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#time{
    font-size: 13px;
    font-weight:700;
    color: #bdbdbd;
    display: flex;
    justify-content: center;
}


/* ////////////////////////////////////////////////////////////  */


#visualLine{
  max-width: 100%;
}


/* ////////////////////////////////////////////////////////////  */


#forecast{
  display: flex;
  flex-direction: row;
  overflow: auto;
  padding: 5px 5px 5px 5px;

  height: 25%;
  min-height: 70px;
  width: 100%;

  gap: 5px;

  border-radius: 10px  10px 10px 10px;

  background-color: #151515;
}

#forecastDay{
  min-width: 25%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  border-width: 3px;
  border-color: rgb(58, 58, 58);
  border-radius: 5px;
  border-style: none;

  background-color: #000000;

  font-size: 11px;
  font-weight: 600;
}

#forecastDate{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  padding-top: 5px;
  padding-left: 7px ;

  color: #bdbdbd;
}


#iconAndTemp{
  font-size: 10px;
  font-weight: 500;
  color: #bdbdbd;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 5px;
}

#smallWeatherImages{
  max-height: 24px; 
}

/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(218, 218, 218);
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



/* ////////////////////////////////////////////////////////////  */


#inputArea{

  min-width: 300px;
  max-width: 400px;

  justify-content: center;
/* 
  border-radius: 15px;
  border-style: solid;
  border-width: 1px; */
  
  display: flex;
  flex-direction: row;
  /* padding: 5px 5px 15px 5px; */

  align-items: center;

  padding-top: 10px;
}

#inputTextfield{
  height: 30px;
  min-width: 300px;
  max-width: 350px;

  border: none;
  border-radius: 3px;

  background-color: #000000;
  color: #ffffff;
  font-weight: 700;

  padding-left: 10px;
}

#inputTextfield:focus{
  outline: none;
  border-radius:  3px 0px 0px 3px;
  
}

#inputTextfield::placeholder{
  font-weight: 500;
  color: #bfbfbf;
}

#inputTextfield:focus::placeholder {
  color: transparent;
}

/* ////////////////////////////////////////////////////////////  */


#errorAlert{
  padding-top: 10px;
}